[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = moyooshikoya1
	email = 71561540+moyooshikoya1@users.noreply.github.com
